<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="index.js"></script>
    <title>web8</title>
</head>

<body>
<div class="container" ng-controller="indexPageController">
    <h1>Products</h1>
    <h3>All Products</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Price</td>
                <td>Action</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in ProductList">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    <button class = "btn btn-danger" ng-click="removeProductById(product.id)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination" >
            <li class="page-item" ng-repeat="x in [].constructor(TotalPages) track by $index">
                <a class="page-link" ng-click="filltable($index)">{{$index+1}}</a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>